.home-announcement-and-introduction{
    width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}
.home-announcement {
    width: 600px;
    padding-right: 65px;
    border-right: 1px solid #e5e5e5;
}
.home-announcement-fl-title>span:nth-of-type(1){
    font-size: 30px;
}
.home-announcement-fl-title>span:nth-of-type(2){
    line-height: 40px;
}
.home-announcement-cont {
    min-height: 114px;
}
.home-announcement-details {
    margin-top: 31px;
}
.home-announcement-details > div:first-child {
    margin-top: 8px;
}

.home-announcement-details dl {
    width: 456px;
    margin-left: 16px;
}

.home-announcement-details dl dt {
    line-height: 34px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
}

.home-announcement-details .announcement-title {
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home-announcement-details .announcement-time {
    color: #999;
}
.home-announcement-details a {
    color: #666 !important;
}

.home-announcement-details dd a {
    display: -webkit-box;
    width: 350px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.announcement-pages{
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.announcement-cont-list p{
    font-size: 20px;
    color: #cac9c9;
    margin-top: 150px;
}
.home-coin-introduction-fr-title{
    font-size: 30px;
}
.home-coin-introduction-center{
    width: 532px;
    height: 360px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-top: 40px;
    overflow-x: auto;
}

















