.high-status-box .certification-info{
	margin: 22px 0 !important;
}
.high-status-sex .info-type{
	margin-left: 240px;
}
.high-status-nation .info-type{
	margin-left: 240px;
}
.high-status-type .info-type{
	margin-left: 240px;
}
.high-status-birth .info-type{
	margin-left: 270px;
}
.high-status-address .info-type{
	margin-left: 270px;
}
.high-status-status{
	margin: 0 0 20px 290px;
}
.high-status-btn{
	margin: 20px 0 0 300px;
}
.high-status-btn button{
	width: 200px;
	height: 40px;
	margin: 0 auto;
	border: 1px solid #da161a;
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
	outline: none;
}