.PersonalInformation{
	width: 890px;
}
.PersonalInformationInfo{
	width: 100%;
}
.PersonalInformationInfo>.top-title{
	background-color: #f8f8f8;
}
.InformationInfoBox{
	width: 100%;
}
.InformationInfoMain{
	width: 835px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}
.InformationInfoList1{
	width: 500px;
}
.PersonalInformationInfo-warp{
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 -1px 20px rgba(0,0,0,.1);
}
.InformationInfoList1>h2,
.InformationInfoList1>.anticon,
.InformationInfoList1 p:nth-of-type(1){
	display: inline-block;
}
.InformationInfoList1>h2,
.InformationInfoList1>.anticon {
	vertical-align: middle;
}
.InformationInfoList1>.anticon{
	font-size: 20px;
	cursor: pointer;
	color: #da161a;
	margin:2px 0 0 15px;
}
.InformationInfoList1>span .anticon{
	font-size: 20px;
	cursor: pointer;
	color: #da161a;
	vertical-align: middle;
	margin:2px 0 0 15px;
}
.InformationInfoList1>p:nth-of-type(1){
	margin-left: 45px;
}
.InformationInfoList1 input{
	height: 31px;
	width: 90px;
	padding-left: 5px;
	border-radius: 4px;
	border: 1px solid #999;
	outline: none;
	vertical-align: middle;
}
.ant-popover-arrow{
	top: 5px !important;
}
.InformationInfoList1 p:nth-of-type(2){
	margin: 40px 0 30px 0;
}
.InformationInfoList1 p:nth-of-type(1) span{
	line-height: 30px;
}
.InformationInfoList1>p:nth-of-type(1)>.anticon{
	font-size: 20px;
	cursor: pointer;
	color: #0397f7;
	vertical-align: middle;
	margin: 0 0 0 15px;
}
.InformationInfoList2{
	width: 335px;
}
.InformationInfoList2 li{
	position: relative;
}
.InformationInfoList2 li:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #da161a;
	left: -20px;
	top: 7px;
	border-radius: 50%;
}


.InformationInfoList2 li:not(.InfoList2-first){
	margin-top: 35px;
}
.InformationInfoIcon{
	width: 835px;
	margin: 30px auto 0;
	padding-bottom: 30px;
}
.InformationInfoIcon .anticon{
	font-size: 20px;
	color: #999;
}
.InformationInfoIcon .anticon:nth-of-type(2),
.InformationInfoIcon .anticon:nth-of-type(3),
.InformationInfoIcon .anticon:nth-of-type(4){
	margin-left: 15px; 
}
.InformationInfoIcon .anticon:nth-of-type(5){
	cursor: pointer;
}
.InformationInfoIcon>div:nth-of-type(1)>a{
	margin-left: 15px;
}
.InformationInfoIcon span{
	cursor: pointer;
	font-size: 14px;
	color: #0397f7;
	margin-right: 40px;
}
.InformationInfoCenter{
	width: 100%;
	height: 300px;
	margin-top: 30px;
}
.InformationInfoCenter>div{
	width: 430px;
	height: 300px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 -1px 20px rgba(0,0,0,.1);
}
.InfoCenterList1 p{
	height: 140px;
	padding: 30px 0 0 20px;
}
.InfoCenterList1 p:nth-of-type(1){
	width: 270px;
}
.InfoCenterList1 p:nth-of-type(2){
	width: 145px;
}
.InfoCenterList1 p span:nth-of-type(1){
	font-size: 18px;
}
.InfoCenterList1 p span:nth-of-type(2){
	font-size: 34px;
	margin-top: 20px;
}
.InfoCenterList2{
	overflow: hidden;
}
.InfoCenterList2 p{
	margin-left: 20px;
}
.InfoCenterList2 p:nth-of-type(1){
	margin-top: 34px;
}
/*.InfoCenterList1 p span{
	font-size: 16px;
}

.InfoCenterList1 p,
.InfoCenterList2 p{
	margin-left: 20px;
}
.InfoCenterList1 p:nth-of-type(1),
.InfoCenterList2 p:nth-of-type(1){
	margin-top: 34px;
}
.InfoCenterList1 p:nth-of-type(2),
.InfoCenterList1 p:nth-of-type(3){
	margin-top: 25px;
}
.InfoCenterList1 p span:nth-of-type(2){
	margin-left: 50px;
}*/
.InfoCenterList1>button{
	width: 100px;
	height: 40px;
	outline: none;
	border:1px solid #dbdbdb;
	background-color: #fff;
	font-size: 16px;
	color: #dbdbdb;
	border-radius: 4px;
	margin: 20px 0 0 20px;
	cursor: pointer;
}
.CenterList1Button{
	width: 377px;
	height: 40px;
	margin: 0 auto;
	margin-top: 30px;
}
.CenterList1Button button{
	width: 140px;
	height: 40px;
	font-size: 16px;
	background-color: #fff;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
}
.CenterList1Button a:nth-of-type(1) button{
	color: #da161a;
	border: 1px solid #da161a;
}
.CenterList1Button a:nth-of-type(2) button{
	color: #0397f7;
	border: 1px solid #0397f7;
}
{
	margin-left: 20px;
}
.InfoCenterList2 p:nth-of-type(1) span{
	font-size: 16px;
	margin-left: 20px;
}
.InfoCenterList2 .anticon{
	font-size: 30px;
	color: #da161a;
	vertical-align: middle;
}
.CenterList2Info{
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin-top: 28px;
}
.CenterList2Info>span{
	height: 25px;
	font-size: 14px;
	color: #999;
	text-align: center;
}
.CenterList2Info>span:nth-of-type(1){
	width: 128px;
}
.CenterList2Info>span:nth-of-type(2){
	width: 72px;
}
.CenterList2Info>span:nth-of-type(3){
	 width: 134px;
 }

.CenterList2Main{
	width: 400px;
	height: 183px;
	margin: 0 auto;
	overflow-y: auto; 
	border-top: 1px solid #da161a;
}
.CenterList2MainBox>span{
	width: 100px;
	height: 46px;
	line-height: 40px;
	border-bottom: 1px solid #dbdbdb;
}
.AccountDetail{
	width: 100%;
	margin-top: 30px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 -1px 20px rgba(0,0,0,.1);
}
.AccountDetailTitle{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #da161a;
}
.DetailTitleList1>span{
	padding-left: 26px;
}
.DetailTitleList2>span{
	padding-right: 26px;
}
.DetailTitleList2 .anticon{
	cursor: pointer;
}
.DetailTitleList2 span{
	cursor: pointer;
	color: #0397f7;
}
.AccountDetailMain{
	width: 840px;
	margin: 0 auto;
	padding-top: 15px;
	border-top: 1px solid #da161a;
}
.AccountDetailMainButton{
	display: inline-block;
	margin-left: 10px;
}
.AccountDetailMainButton button{
	width: 76px;
    height: 28px;
    border: 1px solid #0397f7;
    color: #fff;
	background-color: #0397f7;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
.AccountDetailMain>div:nth-of-type(1){
	margin: 10px 0 0 0;
}
.AccountDetailMain>div:nth-of-type(2){
	margin: 10px 0 0 10px;
}
.AccountDetailMain>div:nth-of-type(1) select,
.AccountDetailMain>div:nth-of-type(2) select{
	margin-left: 10px;
}

.AccountDetailMainButton button:active{
	border: 1px solid #017fd1;
	background-color: #017fd1;
}
.AccountDetailMainBtn{
	width: 100%;
}
.AccountDetailMainBtn>span:nth-of-type(1){
	margin-right: 10px;
}
.AccountDetailMainBtn>span:nth-of-type(3){
	margin: 0 10px;
}
.AccountDetailMainBtn .ant-radio-group{
	margin: 0 0 20px 20px;
}
.AccountDetailMainSelect label{
	margin-right: 10px;
}
.AccountDetailMainSelect select{
	border: 1px solid #ccc;
}
.AccountDetailMainSelect>div:nth-of-type(2){
	margin-left: 20px;
}
.AccountDetailTable{
	width: 100%;
	margin-top: 10px;
	min-height: 500px;
	position: relative;
}
.DetailTable{
	width: 100%;
}
.DetailTable table{
	border-collapse: collapse;
}
.DetailTable tr th{
	height: 40px;
	border-bottom: 1px solid #da161a;
}
.DetailTable tr td{
	height: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.DetailTablePage{
	width: 100%;
	position: absolute;
	bottom: 10px;
}
.invite-code-box{
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 -1px 20px rgba(0,0,0,.1);
	padding-bottom: 42px;
}
.invite-code-person{
	margin: 30px 0 0 20px;
}
.invite-code-person span:nth-of-type(1){
	font-weight: bold;
}
.invite-award{
	margin: 20px 0 0 40px;
	position: relative;
}
.invite-award:after{
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 8px;
	left: -18px;
	background-color: #da161a;
	border-radius: 50%;
}
.invite-award-box{
	width: 830px;
	height: 160px;
	margin: 20px auto 0;
	border: 1px solid #fde4a1;
	border-radius: 4px;
	background-color: #fefaef;
}
.invite-award-box>p:nth-of-type(1){
	margin: 18px 0 0 18px;
	font-weight: bold;
}
.invite-award-box>span:nth-of-type(1){
	margin: 34px 0 0 18px;
	font-weight: bold;
	font-size: 16px;
}
.invite-award-box-main {
	margin: 10px 0 0 18px;
}
.invite-award-box-main>div:nth-of-type(2){
	margin: 0 0 0 50px;
}
.invite-way-box{
	width: 830px;
	margin: 20px auto 0;
	border: 1px solid #fde4a1;
	border-radius: 4px;
	background-color: #fefaef;
	padding-bottom: 20px;
}
.invite-way-box-one,
.invite-way-box-two,
.invite-way-box-three{
	font-weight: bold;
}
.invite-way-box-one{
	margin: 20px 0 0 20px;
}
.invite-way-box-two{
	margin: 36px 0 0 20px;
}
.invite-way-box-three{
	margin: 26px 0 0 20px
}
.invite-way-box div{
	margin: 14px 0 0 20px;
}
.invite-way-box div span{
	display: inline-block;
	width: 80px;
	text-align: right;
	font-weight: 500;
}
.invite-award-code{
	width: 160px;
	height: 160px;
}
.invite-award-code img{
	width: 160px;
	height: 160px;
}
.invite-way-box div input{
	width: 366px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	margin: 0 24px;
	padding-left: 10px;
}
.invite-way-box div button{
	width: 90px;
	height: 30px;
	background-color: #da161a;
	color: #fff;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
}
.invite-way-box div button:active{
	background-color: #c61014;
}
.invite-award-box-main-right>div:nth-of-type(1),
.invite-award-box-main-right>div:nth-of-type(3){
	width: 100px;
	height: 40px;
	background-color: #ffde84;
	border-radius: 4px;
	padding: 5px;
}
.invite-award-box-main-right div span{
	width: 90px;
	height: 30px;
	text-align: center;
	background-color: #ffc21a;
	line-height: 30px;
	border-radius: 4px;
	display: block;
}
.invite-award-arrows{
	width: 120px;
	height: 40px;
	margin: 0 0 0 10px;
	position: relative;
}
.invite-award-arrows-line{
	width: 100px;
	height: 2px;
	background: #80807f;
	position: absolute;
	left: 0;
	top: 20px;
}
.invite-award-arrows-line-right{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 72px;
	top: -10px;
}

.right-arrow1,
.right-arrow2 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 26px;
	top: 0;
	border-top: 10px transparent dashed;
	border-right: 10px transparent dashed;
	border-bottom: 10px transparent dashed;
	border-left: 10px #fefaef solid;
	overflow: hidden;
}
.right-arrow1 {
	left: 28px;
	border-left: 10px solid #80807f;
}
.invite-award-arrows p{
	padding-left: 35px;
	font-weight: bold;
}
.invite-code-person-list{
	width: 96%;
	margin: 25px auto 0;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	position: relative;
}
.invite-code-person-list-square{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #e8e8e8;
	border-left: 10px solid transparent;
	position: absolute;
	top: -20px;
	left: 72px;
}
.invite-code-person-list-transparent{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent;
	position: absolute;
	top: -19px;
	left: 72px;
}
.invite-code-person-list>ul:nth-of-type(1) li{
	float: left;
	width: 100px;
	height: 34px;
	border: 1px solid #e8e8e8;
	padding: 5px;
	overflow: hidden;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 4px;
	margin: 20px 10px 0 10px;
}
.invite-code-person-list>ul:nth-of-type(1) li:nth-child(7n+1){
	margin-left: 16px;
}
.invite-code-person-list-pages{
	margin: 20px 0 10px;
}


























