/* banner */
.slider-warp>div:nth-of-type(2){
    height: 60px;
    background-color: #092148;
}
.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    min-width: 1200px;
    background-size: cover;
    background-position: 50%;
}

.slider .reminder {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    transition: all .5s linear;
    overflow: hidden;
}

.slider .shrink {
    width: 60px;
    transition: all .5s linear;
}

.slider .reminder-box {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
}

.slider .right-box {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #da161a;
    cursor: pointer;
}

.slider .right-box img {
    margin-top: 16px;
}

.slider .home-reminder {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
}

.home-reminder .reminder-cont {
    position: absolute;
    width: 600px;
    height: 350px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 40px;
    line-height: 1.8;
}

.reminder-cont h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.reminder-cont p {
    text-indent: 2em;
}

.reminder-cont button {
    cursor: pointer;
    padding: 10px;
    background-color: #da161a;
    border: 0 none;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
}

.reminder-cont button:active {
    background-color: #c61014;
}

/* slogan */
.slogan {
    width: 1200px;
    margin: 96px auto 0;
    border-radius: 8px;
}

.slogan .top-title {
    height: auto;
    line-height: 40px;
    border: 0 none;
    margin-bottom: 50px;
    color: #666;
}

.slogan .top-title h1 {
    margin: 0 0 8px 0;
    font-size: 40px;
    font-weight: 300;
}

.slogan .top-title p {
    font-size: 20px;
    font-weight: 200;
}

.slogan .slogan-item {
    width: 580px;
    height: 120px;
    float: left;
    box-sizing: border-box;
    padding: 10px 0;
    margin-bottom: 40px;
    border-radius: 4px;
}

.slogan .slogan-item:nth-child(odd) {
    margin-right: 40px;
}

.slogan-item .icon-box {
    text-align: center;
    margin-right: 30px;
    float: left;
}
.slogan-item:nth-of-type(1) .icon-box{
    margin-top: 6px;
}
.slogan-item:nth-of-type(3) .icon-box{
    margin-top: 4px;
}
.slogan-item:nth-of-type(4) .icon-box{
    margin-top: 4px;
}

.slogan-item .slogan-title {
    font-size: 22px;
    width: 60px;
    transition: all .5s linear;
    display: inline-block;
    font-weight: 400;
}

.slogan-item .slogan-info p {
    font-weight: 300;
    font-size: 16px;
    color: #666;
}

.OurService {
    width: 100%;
    position: relative;
}

.sloganTitle {
    font-size: 30px !important;
    height: 80px !important;
    border: none;
    background-color: #fff !important;
}

.OurService p {
    position: absolute;
    left: 46%;
    top: -30px;
    color: #999999;
}

/* partner */

.partner {
    width: 100%;
    height: 460px;
    padding-top: 50px;
    box-sizing: border-box;
    background: url("../images/partnerBgcImg.png") no-repeat;
    background-size: 100% 100%;
}

.partner .top-title {
    height: auto;
    line-height: 40px;
    border: 0 none;
    background-color: transparent;
    padding: 0;
    color: #fff;
    margin-bottom: 50px;
}

.partner .top-title h1 {
    font-size: 40px;
    margin:0 0 8px 0;
    font-weight: 300;
    color: #fff;
}

.partner .top-title p {
    font-size: 20px;
    font-weight: 200;
}

.partner-list {
    width: 1200px;
    margin: 0 auto;
}

.partnerTitle {
    font-size: 30px !important;
}

.partner-list li {
    width: 170px;
    height: 70px;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 30px;
}

.partner-list li img {
    width: 100%;
    height: 100%;
    border: 0 none;
}

.partner-list li a {
    display: block;
    width: 100%;
    height: 100%;
}
